@model IndexViewModel

@{
    ViewData["Title"] = "My Football Team";
}

@{
    var teams = Model.Teams;
    var firstTeam = teams.Any() ? teams[0] : null;
    var secondTeam = teams.Count > 1 ? teams[1] : null;
    var thirdTeam = teams.Count > 2 ? teams[2] : null;
}

@if (!teams.Any())
{
    <div class="jumbotron">
        <h1 class="display-4">Welcome to the best place for Football Statistic</h1>
        <p class="lead">There are no footbals in system currently available.</p>
        <hr class="my-4">
        <a asp-controller="Teams" asp-action="Add" class="btn btn-primary btn-lg" role="button">Add Teams</a>
    </div>
}

<div class="mb-5">
</div>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        @if (firstTeam != null)
        {
            <div class="carousel-item active">
                <img src="~/img/@firstTeam.Image" class="d-block w-100" alt="@firstTeam.Name @firstTeam.NickName @firstTeam.Cup @firstTeam.Champion">
                <div class="carousel-caption d-none d-md-block">
                    <h5><a class="btn btn-primary" asp-controller="Teams" asp-action="Details" asp-route-id="@firstTeam.Id" asp-route-information="@firstTeam.GetInformation()">@firstTeam.Name @firstTeam.Player - @firstTeam.Cup - @firstTeam.Champion)</a></h5>
                </div>
            </div>
        }

        @if (secondTeam != null)
        {
            <div class="carousel-item">
                <img src="~/img/@secondTeam.Image" class="d-block w-100" alt="@secondTeam.Name @secondTeam.NickName @secondTeam.Player @secondTeam.Champion @secondTeam.Cup)">
                <div class="carousel-caption d-none d-md-block">
                    <h5><a class="btn btn-primary" asp-controller="Teams" asp-action="Details" asp-route-id="@secondTeam.Id" asp-route-information="@secondTeam.GetInformation()">@secondTeam.Name @secondTeam.NickName @secondTeam.Player @secondTeam.Champion @secondTeam.Cup)</a></h5>
                </div>
            </div>
        }
        @if (thirdTeam != null)
        {
            <div class="carousel-item">
                <img src="~/img/@thirdTeam.Name" class="d-block w-100" alt="@thirdTeam.NickName @thirdTeam.Player @thirdTeam.Champion @thirdTeam.Cup">
                <div class="carousel-caption d-none d-md-block">
                    <h5><a class="btn btn-primary" asp-controller="Teams" asp-action="Details" asp-route-id="@thirdTeam.Id" asp-route-information="@thirdTeam.GetInformation()">@thirdTeam.Name @thirdTeam.NickName @thirdTeam.Player @thirdTeam.Champion @thirdTeam.Cup)</a></h5>
                </div>
            </div>
        }
        <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </button>
    </div>
    <br />

   <div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-primary" id="statistics-button">Show Statistics</button>
    </div>
</div>

   @* <div class="jumbotron d - none">
        <div class="row">
            <h2 class="col-md-4 text-center">
                @Model.TotalTeams Teams
            </h2>
            <h2 class="col-md-4 text-center">
                @Model.TotalUsers Users
            </h2>
            <h2 class="col-md-4 text-center">
                @Model.TotalSumPlayers SumPlayers
            </h2>
        </div>
    </div>*@

    <div class="jumbotron d-none" id="statistics">
    <div class="row">
        <h2 class="col-md-4 text-center" id="total-teams"></h2>
        <h2 class="col-md-4 text-center" id="total-users"></h2>
        <h2 class="col-md-4 text-center" id="total-sum"></h2>
    </div>
</div>


    @section Scripts {
    <script>
        $('#statistics-button').on('click', ev => {
            $.get('/api/statistics', (data) => {
                $('#total-teams').text(data.totalTeams + " Teams");
                $('#total-users').text(data.totalUsers + " Users");
                //$('#total-sum').text(data.totalTeamSum + " TeamSum");

                $('#statistics').removeClass('d-none');
                $('#statistics-button').hide();
            });
        });
    </script>
}