@model IEnumerable<TeamServiceModel>

@{
    ViewBag.Title = "All Teams Administration";
}

@{
    ViewData["Title"] = "Home Page of area Admin";
    <h1>Welcome to Admin area</h1>
}

<h1>All Teams</h1>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Име</th>
            <th scope="col">Прякор</th>
            <th scope="col">Шампион</th>
            <th scope="col">Футболист</th>
            <th scope="col">Одобрен</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model)
        {
            <tr>
                <td scope="col">@team.Id</td>
                <td scope="col">@team.Name</td>
                <td scope="col">@team.NickName</td>
                <td scope="col">@team.Champion</td>
                <td scope="col">@team.PlayerName</td>
                <td scope="col">@(team.IsPublic ? "Да" : "Не")</td> 
                <td scope="col">
                    <a asp-area="" asp-controller="Teams" asp-action="Delete" asp-route-id="@team.Id" class="btn btn-danger float-right ml-3">Delete</a>
                    <a asp-area="" asp-controller="Teams" asp-action="Edit" asp-route-id="@team.Id" class="btn btn-warning float-right ml-3">Edit</a>
                    <a asp-area="Admin" asp-controller="Teams" asp-action="ChangeVisibility" asp-route-id="@team.Id" class="btn btn-info float-right ml-3">@(team.IsPublic ? "Скрий" : "Покажи")</a>
                    <a asp-area="" asp-controller="Teams" asp-action="Details" asp-route-id=@team.Id asp-route-information="@team.GetInformation()" class="btn btn-primary float-right ml-3">Виж</a>


                   @* <div class="card-footer">
    <form method="post" asp-area="" asp-controller="Teams" asp-action="Delete" asp-route-id="@team.Id">
        <a asp-area="" asp-controller="Teams" asp-action="Edit"
            asp-route-id="@team.Id" class="btn btn-primary">Edit</a>

        <span id="confirmDeleteSpan_@team.Id" style="display:none">
            <span>Are you sure you want to delete?</span>
            <button type="submit" class="btn btn-danger">Yes</button>
            <a href="Delete" class="btn btn-primary"
                onclick="confirmDelete('@team.Id', false)">No</a>
        </span>

        <span id="deleteSpan_@team.Id">
            <a href="#" class="btn btn-danger"
                onclick="confirmDelete('@team.Id', true)">Delete</a>
        </span>
    </form>
</div>*@
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script type="text/javascript">
    function confirmDelete(uniqueId, isDeleteClicked) {
    var deleteSpan = 'deleteSpan_' + uniqueId;
    var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

    if (isDeleteClicked) {
        $('#' + deleteSpan).hide();
        $('#' + confirmDeleteSpan).show();
    } else {
        $('#' + deleteSpan).show();
        $('#' + confirmDeleteSpan).hide();
    }
}
 </script>
}