@model IEnumerable<PlayerListingViewModel>

<div class="row">
    @foreach (var player in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <img src="@player.ImageUrl" alt="@player.FirstName @player.MiddleName @player.LastName - @player.Age @player.Nationality (@player.Position)">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@player.FirstName  @player.MiddleName @player.LastName @player.Position (@player.Age)</h5>
                    <br />
                    <a asp-controller="Players" asp-action="Details" asp-route-id=@player.Id class="btn btn-primary">Виж повече</a>
                </div>
            </div>
        </div>
    }
</div>

